@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #EAEAEA;
}
header .location {
  color: #353535;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  box-shadow: 0px 7px 8px -7px rgba(0, 0, 0, 0.43);
}
header .location h2 {
  font-size: 17px;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  background-color: white;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 7px 8px -7px rgba(0, 0, 0, 0.43);
  padding-top: 10px;
}

nav img {
  text-align: center;
  width: 180px;
}

.reservation {
  background-color: #F3F3F3;
  padding-bottom: 50px;
}
.reservation h2 {
  padding: 40px 14vw 20px 14vw;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 6vw;
}
.reservation p {
  padding-left: 6vw;
  padding-right: 6vw;
  font-size: 5vw;
  text-align: center;
  font-weight: 0;
  padding-bottom: 30px;
}
.reservation button {
  margin-left: auto;
  margin-right: auto;
  width: 218px;
  height: 50px;
  color: white;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}
.reservation button:hover {
  background: linear-gradient(193.33deg, #B574E6 -11.44%, #FF9DE6 123.93%);
  cursor: pointer;
}

.fonctionnement {
  padding: 50px 20px 50px 20px;
  font-family: "Roboto", sans-serif;
}
.fonctionnement .fonctionnement-container {
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  background-color: #F3F3F3;
  border-radius: 20px;
  height: 72px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  align-items: center;
}
.fonctionnement .fonctionnement-container .fa-solid {
  color: #787878;
  font-size: 25px;
}
.fonctionnement .fonctionnement-container .fa-store {
  color: #9356DC;
}
.fonctionnement .number-icon {
  background: #9356DC;
  height: 25px;
  width: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  position: absolute;
  left: 0;
  margin-left: 10px;
  border-radius: 50%;
}
.fonctionnement h3 {
  font-size: 4vw;
}
.fonctionnement .fonctionnement-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.restaurants {
  padding: 50px 20px 50px 20px;
  font-family: "Roboto", sans-serif;
  background-color: #F3F3F3;
}
.restaurants h2 {
  padding-bottom: 20px;
}
.restaurants .restaurant-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
}
.restaurants .restaurant-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.restaurants p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.restaurants img {
  height: 160px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}
.restaurants i {
  font-size: 23px;
  padding-top: 2px;
}

footer {
  width: 100%;
  height: 186px;
  background-color: #353535;
  color: white;
}
footer .logo {
  font-family: Shrikhand;
  font-size: 16px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer p {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
footer .footer-element {
  display: flex;
  flex-direction: row;
}
footer i {
  font-size: 13px;
  margin-right: 10px;
}
footer .fa-handshake {
  transform: rotate(130deg);
  top: 0;
  height: 15px;
  width: 11px;
}

.footer-container {
  padding-left: 20px;
}

.new {
  color: #008766;
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  margin-top: 10px;
  border-radius: 5px;
}

nav a {
  position: absolute;
  left: 0;
  margin-left: 20px;
  font-size: 20px;
  color: black;
}

.restaurant-img {
  height: 275px;
  width: 100%;
}

.body-container {
  position: relative;
}
.body-container img {
  object-fit: cover;
}

.menu-container {
  position: relative;
  margin-top: -60px;
  left: 0;
  width: 100%;
  background: #F6F6F6;
  z-index: 1;
  border-radius: 50px 50px 0px 0px;
}

.menu-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Shrikhand;
  font-size: 15px;
  font-style: italic;
  font-weight: semibold;
  font-weight: 100;
}
.menu-title i {
  font-size: 25px;
}

.menu-title, .menu-entrées, .menu-plats, .menu-desserts {
  padding-left: 15px;
  padding-right: 15px;
}

.menu-entrées h2, .menu-plats h2, .menu-desserts h2 {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 100;
  line-height: 18.75px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  margin-bottom: 15px;
  width: 10%;
}

.menu-elements {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  font-family: Roboto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.menu-elements h4 {
  font-size: 18px;
  padding-bottom: 5px;
}
.menu-elements p {
  font-size: 14px;
}

.menu-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#button-menu {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  padding: 20px 55px 20px 55px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
}

#button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
  padding-top: 30px;
}

.toggle-checkbox {
  display: none;
}

.fa-heart {
  cursor: pointer;
}
.fa-heart::before {
  font-weight: 0;
  color: black;
}

.toggle-checkbox:checked ~ .heart-container .fa-heart::before {
  color: #9356DC;
  font-weight: 900;
}

.heart-container {
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
